analemma-workflow-os/backend/src/aws_llm_simulator.json
{
    "Comment": "LLM Pipeline Test Simulator — MOCK_MODE=false로 실제 스키마 워크플로 실행, 파이프라인 전체 점검",
    "StartAt": "CheckScenarios",
    "States": {
        "CheckScenarios": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.scenarios",
                    "IsPresent": true,
                    "Next": "InitializeSimulator"
                }
            ],
            "Default": "SetDefaultScenarios"
        },
        "SetDefaultScenarios": {
            "Type": "Pass",
            "Parameters": {
                "scenarios": [
                    "COMPLETE",
                    "FAIL",
                    "MAP_AGGREGATOR",
                    "LOOP_LIMIT",
                    "LOOP_BRANCH_STRESS",
                    "STRESS",
                    "VISION",
                    "HITP_RECOVERY",
                    "ASYNC_LLM",
                    "LLM_STAGE1",
                    "LLM_STAGE2",
                    "LLM_STAGE3",
                    "LLM_STAGE4",
                    "LLM_STAGE5",
                    "LLM_STAGE6",
                    "LLM_STAGE7",
                    "LLM_STAGE8"
                ]
            },
            "Next": "InitializeSimulator"
        },
        "InitializeSimulator": {
            "Type": "Pass",
            "Parameters": {
                "simulator_execution_id.$": "$$.Execution.Name",
                "start_time.$": "$$.State.EnteredTime",
                "scenarios.$": "$.scenarios"
            },
            "Next": "ParallelExecution"
        },
        "ParallelExecution": {
            "Type": "Map",
            "ItemsPath": "$.scenarios",
            "MaxConcurrency": 3,
            "Parameters": {
                "scenario.$": "$$.Map.Item.Value",
                "simulator_execution_id.$": "$$.Execution.Name"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "PrepareTest",
                "States": {
                    "PrepareTest": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "TimeoutSeconds": 30,
                        "Parameters": {
                            "FunctionName": "${PrepareLLMTestFunction}",
                            "Payload": {
                                "scenario.$": "$.scenario",
                                "simulator_execution_id.$": "$.simulator_execution_id"
                            }
                        },
                        "ResultSelector": {
                            "targetArn.$": "$.Payload.targetArn",
                            "name.$": "$.Payload.name",
                            "input.$": "$.Payload.input",
                            "scenario.$": "$.Payload.scenario"
                        },
                        "ResultPath": "$.prep_result",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 3,
                                "BackoffRate": 2.0
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "ResultPath": "$.prep_error",
                                "Next": "HandlePrepError"
                            }
                        ],
                        "Next": "RunLLMTest"
                    },
                    "HandlePrepError": {
                        "Type": "Pass",
                        "Parameters": {
                            "scenario.$": "$.scenario",
                            "test_result": {
                                "status": "FAILED",
                                "error": "PrepareTest failed"
                            }
                        },
                        "Next": "VerifyResult"
                    },
                    "RunLLMTest": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::states:startExecution.sync:2",
                        "TimeoutSeconds": 600,
                        "Comment": "10-minute timeout — aiModel 노드 실제 LLM 호출 포함",
                        "Parameters": {
                            "StateMachineArn.$": "$.prep_result.targetArn",
                            "Name.$": "$.prep_result.name",
                            "Input.$": "$.prep_result.input"
                        },
                        "ResultSelector": {
                            "status.$": "$.Status",
                            "output.$": "$.Output",
                            "executionArn.$": "$.ExecutionArn"
                        },
                        "ResultPath": "$.test_result",
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "ResultPath": "$.test_result",
                                "Next": "VerifyResult"
                            }
                        ],
                        "Next": "VerifyResult"
                    },
                    "VerifyResult": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${VerifyLLMTestFunction}",
                            "Payload": {
                                "scenario.$": "$.scenario",
                                "scenario_key.$": "$.scenario",
                                "test_result.$": "$.test_result"
                            }
                        },
                        "ResultSelector": {
                            "verification.$": "$.Payload"
                        },
                        "ResultPath": "$.verification_result",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException"
                                ],
                                "IntervalSeconds": 2,
                                "MaxAttempts": 3,
                                "BackoffRate": 2.0
                            }
                        ],
                        "End": true
                    }
                }
            },
            "ResultPath": "$.test_results",
            "Next": "GenerateReport"
        },
        "GenerateReport": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 60,
            "Parameters": {
                "FunctionName": "${AggregateLLMResultsFunction}",
                "Payload": {
                    "test_results.$": "$.test_results",
                    "simulator_execution_id.$": "$.simulator_execution_id",
                    "start_time.$": "$.start_time"
                }
            },
            "ResultSelector": {
                "report.$": "$.Payload"
            },
            "ResultPath": "$.report_result",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.report_error",
                    "Next": "SimulatorComplete"
                }
            ],
            "Next": "SimulatorComplete"
        },
        "SimulatorComplete": {
            "Type": "Pass",
            "Parameters": {
                "status": "COMPLETED",
                "simulator_execution_id.$": "$.simulator_execution_id",
                "start_time.$": "$.start_time",
                "test_results.$": "$.test_results",
                "report.$": "$.report_result.report"
            },
            "End": true
        }
    }
}
